/node_modules
/public/hot
/public/storage
/public/build
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/responses/*
/storage/app/public/uploadwebfrontfiles.zip
/vendor
/bootstrap/cache/*
.env
.env.backup
.env.*.local
.env.save
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
*.sublime-workspace
*.sublime-project
composer.phar
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.rnd
check_db_connection.php
laravel-vhost.conf
httpd-conf-changes.txt
instrucoes-configuracao-laravel.txt
svg_for_booking_confirmation.txt
query
*.zip
AnyDesk.exe
app/Helpers/Rides/Mobi.sql
Mobilidade-Painel-MC-.git/
git-filter-repo/
